/*------------ FOOTER ------------*/
/*footer*/
.fa-envelope {
    padding: 0.5rem;
}
.email {
    text-align: start;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    font-weight: 600;
    text-shadow: 1px 1px 2px black;
}

.dados {
    text-align: start;
}

.footer {
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    font-weight: 600;
    text-shadow: 1px 1px 2px black;
    
}

.footer-img {
    height: 70px;
    width: 70px;
    padding: 0.5rem;
    background-color: #049DBF;
    border-radius: 50%;
    border: 1px;
}

.copyright {
    margin-left: 2rem;
    margin-top: 0.5rem;
    text-align: end;
}