 /*---------------------SESSÃO PORTFOLIO---------------------*/
 /* Título Meus Trabalhos*/
 #works {
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 0rem;
    text-shadow: 1px 1px 2px black;
    letter-spacing: 0.2rem;
    display: flex;
    justify-content: center;
    margin: auto;
 }

/*Instrução de deslizar*/
#info {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    margin: auto;
    letter-spacing: 0.2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.fa-arrow-right {
    padding: 0.5rem;
}

 /* Div padrão dos cards dos projetos*/
.cards, .cards2 {
    background: rgba(255, 255, 255, 0.46);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #00375C;
    text-align: center;
    padding: 2rem;
    max-width: 700px;
    height: 1080px;
    letter-spacing: 0.2rem;
    position: relative;
    left: 20%;
 }

 /* Numeral dos cards dos projetos*/
.cards h2, .cards2 h2 {
    text-align: start;
    font-weight: bold;
    margin-bottom: 1rem;
}

/* Imagem dos cards dos projetos*/
.cards img, .cards2 img {
    max-height: 600px;
    border-radius: 1rem;
    -webkit-box-shadow: 2px 2px 37px 17px #000000; 
    box-shadow: 2px 2px 37px 17px #000000;
}

/* Título dos cards dos projetos*/
.card-title {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
 }

 /* Texto dos cards dos projetos*/
.card-body p {
    font-size: 1.5rem;
    font-weight: 300;;
 }

  /*Links do corpo do texto*/
.link{
    color: #00375C ;
}

.link:hover {
    color: #049DBF
}

/* Botão-link dos cards dos projetos*/
#button {
    background-color: #00375C;
    border-radius: 1rem;
    width: 40%;
    position: absolute;
    bottom: 2rem;
    left: 30%;
    text-align: center;
 }

/* Efeito do Botão-link dos cards dos projetos*/
#button a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
 }

/* Div do Botão-link dos cards dos projetos*/
.container {
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/*------------ CSS DO CARROSSEL DOS PROJETOS ------------*/
/* Div Slider*/
.slider {
    overflow: hidden;
}
.slider2 {
    overflow: hidden;
}

/* Item Slider 01*/
.slider > .slider-content{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    transition: all 500ms ease;
}
/* Conteúdo do Item Slider 01*/
.slider > .slider-content > .slider-item {
    flex: 0 0 auto;
    width: 100%;
}
/* Item Slider 02*/
.slider2 > .slider-content2 {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    transition: all 500ms ease;
}
/* Conteúdo do Item Slider*/
.slider2 > .slider-content2 > .slider-item2 {
    flex: 0 0 auto;
    width: 100%;
}
/*------------Todos os projetos do slider 01--------------*/
/* Projeto 01 - slice*/
.slider > input:nth-child(1):checked ~ .slider-content{
    transform: translateX(0%);
}
/* Projeto 02 - slice*/
.slider > input:nth-child(2):checked ~ .slider-content{
    transform: translateX(-100%);
}
/* Projeto 03 - slice*/
.slider > input:nth-child(3):checked ~ .slider-content{
    transform: translateX(-200%);
}
/* Projeto 04 - slice*/
.slider > input:nth-child(4):checked ~ .slider-content{
    transform: translateX(-300%);
}
/* Projeto 05 - slice*/
.slider > input:nth-child(5):checked ~ .slider-content{
    transform: translateX(-400%);
}
/* Projeto 06 - slice*/
.slider > input:nth-child(6):checked ~ .slider-content{
    transform: translateX(-500%);
}
/* Projeto 07 - slice*/
.slider > input:nth-child(7):checked ~ .slider-content{
    transform: translateX(-600%);
}
/*------------Todos os projetos do slider 02--------------*/
/* Projeto 01 - 02 - slice*/
.slider2 > input:nth-child(1):checked ~ .slider-content2{
    transform: translateX(0%);
}
/* Projeto 02 - 02 - slice*/
.slider2 > input:nth-child(2):checked ~ .slider-content2{
    transform: translateX(-100%);
}

/* Projeto 03 - 02 - slice*/
.slider2 > input:nth-child(3):checked ~ .slider-content2{
    transform: translateX(-200%);
}

/* Projeto 04 - 02 - slice*/
.slider2 > input:nth-child(4):checked ~ .slider-content2{
    transform: translateX(-300%);
}
/* Projeto 05 - 02 - slice*/
.slider2 > input:nth-child(5):checked ~ .slider-content2{
    transform: translateX(-400%);
}
/* Projeto 06 - 02 - slice*/
.slider2 > input:nth-child(6):checked ~ .slider-content2{
    transform: translateX(-500%);
}
/* Projeto 07 - 02 - slice*/
.slider2 > input:nth-child(7):checked ~ .slider-content2{
    transform: translateX(-600%);
}


/* INPUTS RADIO do Slider*/
input[type="radio"] {
    appearance: none;
    background-color: #F2B3BF;
    font: inherit;
    color: #00375C;
    width: 2em;
    height: 2em;
    border: 0.15em solid #00375C;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 0.5rem;
  }
input[type="radio"]:checked {
    background-color: #049DBF;
  }